@use '@/scss/rwd/_mixins.scss' as *;

.option-dropdown-wrapper {
  border: var(--theme-primary) 1px solid;
  background-color: var(--theme-bg-accent);
  width: 80%;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 2px 2px 1px var(--theme-overlay);

  @include rwd-ratio("tall", "square") {
    width: 95%;
  }

  .option-dropdown {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
  }

  .action-field {
    display: flex;
    align-items: center;

    >.material-symbols-outlined {
      color: green;
      margin-left: 10px;
    }
  }

  h2 {
    margin: 0;
  }

  .title {
    width: 100%;
  }

  .arrow {
    margin-left: 10px;
    font-size: 1.5rem;
    transition: rotate 0.5s;
  }

  .content {
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
  }

  &.open {
    .arrow {
      rotate: 90deg;
    }

    .content {
      height: 200px;
      overflow: scroll;

      @include rwd-ratio("tall", "square") {
        height: 300px;
      }

      &.extended {
        height: 500px;

        @include rwd-ratio("tall", "square") {
          height: 600px;
        }
      }
    }
  }
}
