@use '@/scss/rwd/_mixins.scss' as *;

.floating-form {
  >.wrapper {
    & {
      position: fixed;
      top: 2vh;
      left: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    >.applet {
      & {
        background-color: var(--theme-bg-2);
        overflow-y: scroll;
        width: 95vw;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2%;
        border-radius: 20px;
        box-shadow: 10px 10px 10px var(--theme-bg-1-shade);
        /* border: 2px solid white; */

        @include rwd-ratio("mobile", "vertical") {
          /* border-color: purple; */
          width: 90vw;
          height: 80vh;
        }

        @include rwd-ratio("vertical", "high") {
          /* border-color: lightblue; */
          width: 75vw;
          height: 70vh;
        }

        @include rwd-ratio("high", "square") {
          /* border-color: blue; */
          width: 60vw;
          height: 70vh;
        }

        @include rwd-ratio("square", "standard") {
          /* border-color: green; */
          width: 55vw;
          height: 55vh;
        }

        @include rwd-ratio("standard", "wide") {
          /* border-color: lightcoral; */
          width: 35vw;
          height: 60vh;
        }

        @include rwd-ratio("wide", "ultrawide") {
          /* border-color: yellow; */
          width: 25vw;
          height: 60vh;
        }

        @include rwd-ratio("ultrawide", "extrawide") {
          /* border-color: orange; */
          width: 27vw;
          height: 70vh;
        }

        @include rwd-ratio("extrawide", "max") {
          /* border-color: red; */
          width: 22vw;
          height: 70vh;
        }
      }


      >.logo-bar {
        height: 5rem;
        display: flex;
        flex-direction: row;
        width: 90%;
        align-items: center;
        justify-content: center;
        padding-top: 3rem;

        >img {
          height: 100%;
          margin-right: auto;
        }
      }

      >.inputs {
        margin-top: auto;
        margin-bottom: auto;
        width: 80%;

        >h1,
        >p {
          text-align: start;
        }

        >h1 {
          font-family: 'Kode Mono', monospace;
        }

        .input {
          background-color: var(--theme-bg-3);
          margin-bottom: 10px;
          margin-top: 15px;
          padding-top: 15px;
          padding-bottom: 15px;
          padding-left: 20px;

          &.error {
            border-bottom: var(--theme-warning) 1px solid;
          }
        }

        >.pw-rating {
          display: flex;
          flex-direction: row;
          width: 100%;
          flex-grow: 1;

          >p {
            margin: 0;
            margin-left: auto;
            width: unset;
          }
        }
      }

      >.buttons {
        display: flex;
        justify-content: center;
        align-items: center;

        .button {
          @include rwd-ratio("min", "vertical") {
            padding-left: 15px !important;
            padding-right: 15px !important;
          }
        }
      }
    }
  }
}
