.reveal-button {
  cursor: pointer;
}

.input {
  background: none;
  color: var(--theme-primary);
  border: none;
  border-bottom: var(--theme-gray-color) 2px solid;
  padding: 7px;
  font-size: 1rem;
  outline: none;
  transition: border-bottom-color 0.5s;
  width: 100%;

  &:focus {
    border-bottom-color: #007ddd;
  }

  &.error {
    color: var(--theme-primary);
    font-style: normal;
    border-bottom-color: red;
    padding: 7px;
  }
}

.password-wrapper {
  position: relative;

  >.password-toggle {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
    user-select: none;

    >.material-symbols-outlined {
      color: var(--theme-primary);
    }
  }
}
