@use 'sass:color';

$theme-red: (
  foreground-text: #feffd1,
  interactable-text: #8fce3d,
  background-text: #783A24,
  bg-1: #1d0303,
  bg-2: #410f0c,
  bg-3: #751818,
  bg-4: #fa5347,
  bg-5: #FFBDBD,
  warning: red,
  success: green,
  information: yellow,
  hover: #00457a,
  overlay: rgba(0, 0, 0, 0.7),
);

// text colors identical to bg-colors
$theme-blue: (
  foreground-text: #EBF4FF,
  interactable-text: #529EFF,
  background-text: #244B78,
  bg-1: #041527,
  bg-2: #0E1E3C,
  bg-3: #244B78,
  bg-4: #529EFF,
  bg-5: #EBF4FF,
  warning: #EA7373,
  success: #65F28A,
  information: #E2E256,
  hover: #00457a,
  overlay: rgba(0, 0, 0, 0.7),
);

$theme-purple: (
  foreground-text: #FED5FF,
  interactable-text: #E730EA,
  background-text: #9E539F,
  bg-1: #0d041d,
  bg-2: #2f0930,
  bg-3: #502852,
  bg-4: #c54dc7,
  bg-5: #FED5FF,
  warning: red,
  success: green,
  information: yellow,
  hover: #00457a,
  overlay: rgba(0, 0, 0, 0.7),
);

$theme-black: (
  foreground-text: #ffffff,
  interactable-text: #757575,
  background-text: #484848,
  bg-1: #080808,
  bg-2: #0f0f0f,
  bg-3: #444242,
  bg-4: #868686,
  bg-5: #dddddd,
  warning: red,
  success: green,
  information: yellow,
  hover: #00457a,
  overlay: rgba(0, 0, 0, 0.7),
);

$PI: 3.14159265358979;


@mixin gen-theme ($selector, $theme) {
  #{$selector} {
    @each $var, $value in $theme {
      --theme-#{$var}: #{$value};
      --theme-#{$var}-20: #{color.scale($value, $lightness: 20%)};
      --theme-#{$var}-30: #{color.scale($value, $lightness: 30%)};
      --theme-#{$var}-shade: #{color.scale($value, $lightness: -20%)};
    }

    --slider-connect-bg: var(--theme-hover);
    --slider-tooltip-bg: var(--theme-hover);
    --slider-bg: var(--theme-bg-4);
  }
}
